@keyframes rotate_benz_background {
    100% {
        // transform: rotate(360deg);
    }
}

@keyframes rotate_benz {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes top-slide {
    0% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-25%);
    }
}

@keyframes bottom-slide {
    0% {
        transform: translateX(25%);
    }

    50% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(25%);
    }
}

@keyframes left-slide {
    0% {
        transform: translateY(5000%) rotateZ(90deg);
    }

    50% {
        transform: translateY(0%) rotateZ(90deg);
    }

    100% {
        transform: translateY(5000%) rotateZ(90deg);
    }
}

@keyframes right-slide {
    0% {
        transform: translateY(-5000%) rotateZ(-90deg);
    }

    50% {
        transform: translateY(0%) rotateZ(-90deg);
    }

    100% {
        transform: translateY(-5000%) rotate(-90deg);
    }
}