@use "./reset.scss";
@use './animations.scss';
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

.old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-style: normal;
}

.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

$gray: #d9d9d9a7;

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(202, 202, 202);
}

.wrap {
    height: 700px;
    width: 880px;
    color: white;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 30px 1fr 30px;
    background-color: #737478;
    border-radius: 10px;
    border: 3px solid white;

    .sol-sq {
        display: flex;
        justify-content: center;

        img {
            width: 12px;
        }
    }

    .bar {
        font-size: 14px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        span {
            position: absolute;
            width: max-content;
        }
    }

    .bar-top {
        grid-row: 1 / 2;
        grid-column: 2 / 3;

        span {
            animation: top-slide 15s linear infinite;
        }

    }

    .bar-left {
        grid-row: 2 / 3;
        grid-column: 1 / 2;

        span {
            animation: left-slide 15s linear infinite;
        }
    }

    .bar-right {
        grid-row: 2 / 3;
        grid-column: 3 / 4;

        span {
            animation: right-slide 15s linear infinite;
        }
    }

    .bar-bottom {
        grid-row: 3 / 4;
        grid-column: 2 / 3;

        span {
            animation: bottom-slide 15s linear infinite;
        }
    }
}

.main {
    border: 3px solid white;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: black;
    display: grid;
    grid-template-rows: 1fr 150px .5fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .title {
        grid-row: 1 / 2;
        grid-column: 1 / 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            @extend.old-standard-tt-bold;
            font-size: 85px;
        }

        p {
            padding-left: 475px;
            font-family: 'BookkMyungjo-Bd';
            font-size: 15px;
        }
    }

    .row-2 {
        grid-row: 2 / 3;
        grid-column: 1 / 5;
        display: grid;
        grid-template-rows: .5fr .6fr;
        grid-template-columns: repeat(4, 1fr) 1.5fr;
        border-top: 1px solid white;

        .menu {
            grid-row: 1 / 2;
            grid-column: 1 / 5;
            // border-top: 1px solid white;
            border-bottom: 1px solid white;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li:first-child {
                padding-top: 20px;
            }

            li {
                border-right: 1px solid white;
                width: 100%;
                height: 100%;
                text-align: center;
                padding-top: 25px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .highlight {
            background-color: $gray;
            grid-row: 2 / 3;
            grid-column: 1 / 5;
            padding: 0 20px;
            font-size: 17px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            border-right: 1px solid white;

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    font-size: 14px;

                    img {
                        margin: 5px 5px 0 0;
                        width: 13px;
                        height: 13px;
                    }
                }
            }
        }
    }

    .image-box {
        grid-row: 1 / 3;
        overflow: hidden;

        img {
            width: 100%;
            height: 110%;
        }
    }

    .subject {
        background-color: $gray;
        grid-row: 3 / 4;
        grid-column: 1 / 5;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        div {
            border-top: 1px solid white;
            border-bottom: 1px solid white;
            display: flex;
            justify-content: center;
        }

        div:not(:last-child) {
            border-right: 1px solid white;
        }

        .sub-box {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 20px;
        }

        .exterior {
            grid-column: 1/2;
        }

        .interior {
            grid-column: 2/3;
        }

        .manufaktur {
            grid-column: 3/4;
        }

        p {
            font-size: 12px;
        }

        h2 {
            font-size: 15px;
        }

        .sub-img-box2 {
            grid-column: 5/6;
        }
    }

    .footer {
        background-color: $gray;
        grid-row: 4 / 5;
        grid-column: 1 / 5;
        display: grid;
        grid-template-rows: .5fr .5fr .5fr .5fr;
        grid-template-columns: 4fr 2.5fr 1.8fr 1.8fr;

        .rotate-text {
            border-radius: 50%;
            width: 110px;
            height: 110px;
            background-color: rgba(242, 237, 236, 0.53);
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 24%;
            left: 36%;
            border: 5px outset rgba(255, 255, 255, 0.875);
            animation: rotate_benz_background 6s linear infinite;

            p {
                font-size: 12px;
                animation: rotate_benz 6s linear infinite;
                transform-origin: 50% 50%;
            }
        }

        div:not(:nth-child(7), :last-child) {
            border-right: 1px solid white;
        }

        .image-box2 {
            grid-row: 1 / 5;
            grid-column: 1 / 2;
            background: url(/images/benz-1.png) no-repeat 55% 60%;
            background-size: 450px;
        }

        .box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 15px;
            font-size: 20px;

            img {
                padding-left: 5px;
                padding-top: 5px;
                width: 15px;
                height: 20px;
            }
        }

        .box:not(:nth-child(5)) {
            border-bottom: 1px solid white;
        }

        .box1 {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }

        .box2 {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }

        .box3 {
            grid-column: 2 / 3;
            grid-row: 3 / 4;
        }

        .box4 {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
        }

        .character {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 15px;
            gap: 5px;

            h4 {
                font-size: 25px;
            }

            h6 {
                font-size: 15px;
            }

            span {
                font-size: 15px;
            }

            .span-size {
                font-size: 20px;
            }

            p {
                font-size: 11px;
            }
        }

        .char-box1 {
            grid-column: 3 / 4;
            grid-row: 1 / 3;
            border-bottom: 1px solid white;
        }

        .char-box2 {
            grid-column: 4/ 5;
            grid-row: 1 / 3;
            border-bottom: 1px solid white;
        }

        .char-box3 {
            grid-column: 3 / 4;
            grid-row: 3 / 5;
        }

        .char-box4 {
            grid-column: 4 / 5;
            grid-row: 3 / 5;
        }
    }
}