@import "./reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

.old-standard-tt-bold {
    font-family: "Old Standard TT", serif;
    font-weight: 500;
    font-style: normal;
}

.old-standard-tt-regular {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BookkMyungjo-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

img {
    width: 30px;
    height: 30px;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.wrap {
    height: 80vh;
    width: 70%;
    background-color: black;
    color: white;

    .container {
        height: 100%;
        display: grid;
        grid-template-rows: 1.4fr 0.5fr 1fr .5fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

        .title {
            grid-row: 1 / 1;

            grid-column: span 8;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            h1 {
                @extend.old-standard-tt-bold;
                font-size: 105px;
                // font-weight: bold;
            }

            p {
                font-family: 'BookkMyungjo-Bd';
                padding-left: 630px;
            }
        }

        .menu {
            grid-row: 2 / 4;
            grid-column: 1 / 8;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: .5fr .5fr;
            border-top: 1px solid white;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid white;

            }

            div:not(:last-child) {
                border-right: 1px solid white;
            }

            .image-box {
                grid-column: span 2;
                grid-row: span 2;
                background: url(../images/benz-1.png) no-repeat 52% 50%;
                background-size: 450px;
                margin: 15px;
            }
        }

        .subject {
            grid-row: 4/5;
            grid-column: 1/8;
            display: grid;
            grid-template-columns: .4fr .6fr .6fr .6fr .4fr;
            grid-template-rows: .5fr;

            div {
                border-top: 1px solid white;
                border-bottom: 1px solid white;
                display: flex;
                justify-content: center;
            }

            div:not(:last-child) {
                border-right: 1px solid white;
            }

            .sub-img-box1 {
                grid-column: 1/2;
            }

            .sub-box {
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding: 12px;
            }

            .exterior {
                grid-column: 2/3;
            }

            .interior {
                grid-column: 3/4;

            }

            .manufaktur {
                grid-column: 4/5;
            }

            p {
                font-size: 12px;
            }

            h2 {
                font-size: 15px;
            }

            .sub-img-box2 {
                grid-column: 5/6;
            }
        }

        .footer {
            grid-row: 5/7;
            grid-column: 1/8;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            // grid-template-rows: 1fr 1fr;
            // background-color: antiquewhite;

            div {
                display: flex;
                flex-direction: column;

                justify-content: center;

                padding: 10px;

                h6 {
                    font-size: 14px;
                }

                h4 {
                    font-size: 20px;
                }

                h5 {
                    font-size: 25px;
                }

                span {
                    font-size: 16px;

                }

                .span-size {
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                }
            }

            .character-1 {
                grid-column: 6/7;
                grid-row: 1/2;
            }

            .character-2 {
                grid-column: 7/8;
                grid-row: 1/2;
            }

            .character-3 {
                grid-column: 6/7;
                grid-row: 2/3;
            }

            .character-4 {
                grid-column: 7/8;
                grid-row: 2/3;
            }
        }

    }
}